/data
/dataset
/MovieSummaries
/dataQ1


SimilaritySearch copy.ipynb
SimilaritySearch.ipynb
merge_dataset.ipynb
exploration_film_code.ipynb
.DS_Store
kaggle_exploration.ipynb
data_exploration.ipynb

mann_whitney_results_sent.csv
mann_whitney_results.csv
subset_results_Afghanistan.csv

subset_results_Vietnam.csv
subset_results_World War 2.csv
subset_results_Nazi.csv
subset_results_Iraq.csv
kaggle_exploration.ipynb
kaggle_exploration.ipynb
.vscode/
bar_chart_figure.json